// =============================================
// Placeholders
// =============================================



%btn-phantom{
  border: 1px solid $c-white;
  padding: 1em 2em;
  background-color: transparent;
  outline: none;
  font-size: em(12,16);
  color: white;
  text-transform: uppercase;
  margin: 60px auto 0;
  letter-spacing: 1px;

  @include transition-property(background-color, border);
  @include transition-duration(.25s);
  @include transition-timing-function(ease-in-out);
  @include transition-delay(.1s);
}

