.error{

  .text{
    padding-bottom: 150px;
    &::before{
      content: "";
      height: 360px;
      width: auto;
      display: block;
      background: transparent url(../images/error.svg) no-repeat 50% 50%;
      opacity: 1;

      @include animate-css(shake, $delay:2s);
    }
  }

  p{
    opacity: .6;

    +p{
      opacity: .6;
    }
  }



}