/* Footer
-------------------------------------------------- */
footer {
  width: 100%;
  min-height: 260px;
  display: block;
  background: $c-secondary;
 /* position: fixed;
  z-index: -1;
  bottom: 0;*/

  > *{
    margin:0 auto;
    max-width: $max-content-width;
    overflow: hidden;
  }

}
