/* Header
-------------------------------------------------- */
header {

  .logo {
    display: block;
    position: fixed;
    left: 30px;
    top: 20px;
    z-index: 4;

    @include bp(min-width, $bp-small) {
      top:30px;
    }
  }

  /* Layered block */
  &::before{
    content: '';
    width: 100%;
    height: 200px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    pointer-events: none;
  }

}
