/* Home - overlay
-------------------------------------------------- */

.home{

  @include bp(min-width, $bp-small) {
    height: 100vh;
  }

  .overlay {
    align-items: center;
    background: rgba($c-site,.9);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    height: 100vh;
    left: 0;
    opacity: .8;
    position: fixed;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 3;
    visibility: visible;
    /*display: none;*/

    @include transition-property(all);
    @include transition-duration(.4s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(.1s);


    &::before{
      content: '';
      width: 100%;
      height:500px;
      opacity: 0.2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;

      /*
      bottom: 10px;
      background: url("../images/illus.svg") no-repeat 50% 100%;

      background-size: auto;

      @include bp(min-width, $bp-medium) {
        opacity: 0.1;
        background-size: 104% auto;
      }
      */
    }


    .hide-overlay &{
      opacity: 0;
      z-index: -1;
      visibility: hidden;
    }

    img{
      padding: 1em;
    }

    ul{
      padding: 20px 0;

      @include transition-property(all);
      @include transition-duration(.4s);
      @include transition-timing-function(ease-in-out);
      @include transition-delay(.1s);

      .hide-overlay &{
        margin-top: 50%;
      }
    }

    li{
      font-size: em(12,16);
      font-weight: 300;
      letter-spacing: 3px;
      line-height: 20px;
      list-style: none;
      text-align: center;
      text-transform: uppercase;

      + li{
        opacity: .6;
      }
    }

    button{
      @extend %btn-phantom;

      @include bp(max-width, $bp-small) {
        padding: 1.5em 2.5em;
        margin-top:50px;
      }

      &:hover,
      &:focus{
        background-color: $c-secondary;
        border-color: $c-secondary;
      }

    }
  }
}
