/* Home - overlay
-------------------------------------------------- */

.home{

  .overlay {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    align-items: center;
    background: rgba($c-site,.9);
    height: 270px;

    top: 0;
    width: 100%;
    z-index: 3;
    visibility: visible;

    @include transition-property(all);
    @include transition-duration(.4s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(.1s);

    img{
      padding: 1em;

      @include bp(max-width, $bp-small) {
        transform: scale(.5);
        margin-bottom: -30px;
      }
    }

    ul{
      padding: 0 0 35px;
      margin: 0;

      @include transition-property(all);
      @include transition-duration(.4s);
      @include transition-timing-function(ease-in-out);
      @include transition-delay(.1s);


    }

    li{
      font-size: em(12,16);
      font-weight: 300;
      letter-spacing: 3px;
      line-height: 20px;
      list-style: none;
      text-align: center;
      text-transform: uppercase;

      + li{
        opacity: .6;
      }
    }

    button{
      @extend %btn-phantom;
      display: none;
    }

  }

  @include bp(min-width, $bp-small) {
    height: 100vh;

    .overlay{
      @include justify-content(center);
      height: 100vh;
      left: 0;
      opacity: .8;
      position: fixed;

      .hide-overlay &{
        opacity: 0;
        visibility: hidden;
      }

      ul{
        .hide-overlay &{
          margin-top: 50%;
        }
      }


      button{
        display: block;

        &:hover,
        &:focus{
          background-color: $c-secondary;
          border-color: $c-secondary;
        }

      }

    }
  }
}
