/* Variables */
$size: 40px;

.loader{
  width: $size;
  height: $size;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  @include calc(left, "50% - #{$size / 2}");
  @include calc(top, "100% - 15%");
  z-index: 2000;
  opacity: 0;
  pointer-events: none;

  @include transition(opacity .6s ease-out-in);

  // Smootstate anim (loading)
  .is-loading &{
    opacity: .6;
  }

}



@import '../mixin/loader/loader-circles';

//@import '../mixin/loader/loader-quart';
//@import '../mixin/loader/loader-double';
//@import '../mixin/loader/loader-circles';
//@import '../mixin/loader/loader-bars';
//@import '../mixin/loader/loader-bubbles';