/* Works list - projects
-------------------------------------------------- */
.projects-list {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background: $c-site;

  /* Articles ----------------*/
  @include display(flex);
  @include flex-direction(column);

  @include bp(min-width, $bp-small) {
    @include flex-direction(row);
  }

  article{
    height: 260px;
    flex: none;
    overflow: hidden;
    width: 100%;

    @include transition(all .4s ease-out 0s);

    a{
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 16px 32px;
      box-sizing: border-box;
      overflow-x: hidden;
      text-decoration: none;
      background-size: cover;
      background: $c-secondary;
      background-repeat: no-repeat;
      background-position: center center;

      &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $c-black;
        opacity: 0.8;

        @include transition(opacity .4s ease-out 0s);
      }

      .legend{
        position: absolute;
        z-index: 1;
        bottom: 10%;

        @include transition(all .4s ease-out 0s);

        .title{
          font-size: em(28,16);
          font-weight: 900;
          letter-spacing: 1px;

          &::after{
            content: "";
            width: 60px;
            height: 1px;
            display: block;
            background: $c-secondary;
            margin-top: 14px;
            margin-bottom: 6px;

            @include transition(margin .3s ease-out 0);
          }
        }

        p{
          text-transform: uppercase;
          font-weight: 100;
          font-size: em(11,16);
          letter-spacing: 4px;
        }


        @include bp(min-width, $bp-small) {
          bottom: -50px;
          opacity:0;

          .title{
            &::after{
              margin-top: 100px;
              margin-bottom: 100px;
            }
          }
        }
      }

      &:hover,
      &:focus{
        &::before {
          opacity: 0;
        }

        .legend{
          bottom:10%;
          opacity:1;

          .title{
            &::after{
              margin-top: 14px;
              margin-bottom: 6px;
            }
          }
        }

      }
    }

    @include bp(min-width, $bp-small) {
      height: 100%;
      width: 50%;
      display: block;

      .legend{
        bottom: 16%;
        opacity: .5;

      }

    }

    @include bp(min-width, $bp-medium) {
      width: 25%;
    }

    @include bp(min-width, $bp-xlarge + 540) {
      width: 20%;
    }


    /* Old portfolio link ----------------*/
    &.old{
      a{
        background-color: $c-pink;
        @include transition(background .3s ease-out 0);

        &::before {
          content: none;
        }

        &::after{
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom:0;
          left:0;

          border: 10px solid $c-white;

          @include transition(border .15s ease-out 0);
        }

        &:hover,
        &:focus{
          /*background: $c-pink;*/
        }

        section{
          text-align: center;
          font-size: em(16,16);
          position: relative;
          top: 30%;


          &::before{
            content: "+";
            font-size: em(90,16);
            line-height: 20px;
            position: relative;
          }

          p{
            font-weight: 100;

            button{
              border: 1px solid $c-white;
              padding: 1em 2em;
              background-color: transparent;
              outline: none;
              font-size: em(12,16);
              color: white;
              display: block;
              text-transform: uppercase;
              margin: 60px auto 0;
              letter-spacing: 1px;

              @include transition-property(background-color);
              @include transition-duration(.25s);
              @include transition-timing-function(ease-in-out);
              @include transition-delay(.1s);

              display: none;

            }

          }
        }



        @include bp(min-width, $bp-small) {
          &::after{
            border:0 solid $c-white
          }

          &:hover,
          &:focus{
            &::after{
              border:12px solid $c-white
            }

            section{
              &::before{
                @include animate-css(rotateIn);
              }

              p{
                button{
                  background-color: $c-white;
                  color: $c-pink;

                }
              }
            }
          }
          
          section{
            top: 40%;
            font-size: em(18,16);

            &::before{
              font-size: em(160,16);
            }

            p{
              button{
                display: block;
              }
            }


          }
        }

      }
    }
  }

  /* Projects Nav ----------------*/
  &-nav{
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 2;
    line-height: 1.4em;
    padding: 0;


    &::before{
      content: "";
      display: block;
      height: 30px;
      width: 1px;
      background: $c-white;
      transform: rotate(45deg);
      position: absolute;
      left: 50%;
    }
    
    li{
      list-style-type: none;
      background: url("../images/arrow.svg") no-repeat 14px 0;
      width: 50px;
      height: 30px;
      display: inline-block;
      float: left;
      opacity: .6;
      margin: 0 7px 0 0;

      @include transition(background .15s ease-out 0);

      + li{
        transform: rotate(180deg);
        margin: 0 0 0 7px;
      }

      &:hover,
      &:focus{
        opacity: 1;
        background-position: 2px 0;
        cursor: pointer;
      }

      span{
        @extend %hidden-L;
      }
    }


    @include bp(max-width, $bp-small) {
      &::before,
      li{
        display: none;
      }
    }
  }
}
